@font-face
{
	font-family: 'Raleway';
	src: url('fonts/Raleway-Black.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-ExtraBold.ttf');
    src: url('fonts/Raleway-Medium.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    src: url('fonts/Raleway-SemiBold.ttf');
    
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Raleway', sans-serif;
}
.bloc-page
{
  width: 1440px;
  margin: auto;
}

.logo img
{ 
  width: 100px;
	height: 50px;
}

.logo
{
	position: relative;
	top: 60px;
}
    
.rechercher
{
	display: flex;
	justify-content: flex-start;

}

.rechercher img
{    
	position: relative;
	height: 20px;
	width: 20px;
	background-color: #F2F2F2;
}	

button
{
  padding: 10px;
  background: #0065FC;
  color: white;
  font-size: 17px;
  border: 1px solid;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%; 
  cursor: pointer;
 }

input
{
	height: 39px;
	width: 240px;
	margin-right: -10px;
}

nav ul
{
	list-style-type:none;
	display: flex;
	justify-content: flex-start;
}

nav li
{
margin-right: 15px;
}

nav a
{
	
	padding-bottom: 3px;
	text-decoration: none;
	color: #0065FC;
}

.nav
{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
    top: 50px;
    right: 550px;
    color: #0065FC;
    font-size: 1.2em;
}   

.en-tête
{
  margin-top: 50px;
}


.filtres
{
	display: flex;
	justify-content: flex-start;
	margin-top: 30px;
	font-size: 0.8em;
}

.filtres img
{

  height:25px;
  width: 25px;   
  margin-right: 10px;
}

.economie
{   
    display: flex;
    justify-content: flex-start;
    align-items: center;
	border:solid 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color:  #F2F2F2;
	margin-left: 60px;
}

.famille
{   
    display: flex;
    justify-content: flex-start;
    align-items: center;
	border:solid 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color:  #F2F2F2;
	margin-left: 60px;
}

.coeur
{   
    display: flex;
    justify-content: flex-start;
    align-items: center;
	border:solid 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color:  #F2F2F2;
	margin-left: 60px;
}

.animaux
{   
    display: flex;
    justify-content: flex-start;
    align-items: center;
	border:solid 2px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-color:  #F2F2F2;
	margin-left: 60px;
}

.info
{   
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
}

.info img
{   
 	height: 15px;
 	margin-right: 20px;
 	border:solid 2px;
	border-radius: 50%;
	border-color:  #F2F2F2;
 	
}

.combinaison
{
	display: flex;
}

.Hébergements-titre
{
	display: flex;
	justify-content: flex-start;
}

.Hébergements-zone
{

	background-color: #F2F2F2;
	border-radius: 20px;
    margin-right: 30px;
}

.Hébergements-zone img
{

	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 120px;
	width: 230px;
	margin-top: 10px;
}

.Hébergements-images
{
	display: flex;
	flex-wrap: wrap;
	font-size: 13px;
}	

figure
{
	background-color: white;
	border-radius: 10px;
}	

.populaires-zone
{
background-color: #F2F2F2;
font-size: 15px;
border-radius: 20px;
width: 600px;
}

.populaires-zone img
{
	height: 90px;
	width: 90px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	float: left;
}


.populaires-titre
{
	display: flex;
	justify-content: flex-start;
}

.populaires-titre img
{

  height: 25px;

}

#Hébergements
{
	margin-top: 20px;
	margin-left: 40px;
}

h1,h2
{
	font-family: 'Raleway-ExtraBold';
	font-size: 1.5em;
}	

figcaption
{
	text-align: center;
	height: 90px;
}


#Activités
{
	margin-top: 90px;
}
.Activités-zone
{
	display: flex;
	align-items: flex-end;
}

.Activités-zone img
{
	border-radius: 10px;

}

.deux-en-un img
{
	display: flex;
	flex-direction: column;
	height: 150px;
	width: 270px;
}

.solo 
{
	overflow: hidden;
}

.solo img
{   
	height: 380px;
	width: 290px;
}

footer
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	border-radius: 10px;
	font-size: 13px;
	margin-top: 20px;
}


@media screen and (max-width: 768px)
{
.bloc-page
{
	display: flex;
	flex-direction: column;
}
}
 
