@font-face
{
	font-family: 'Raleway';
	src: url('fonts/Raleway-Black.ttf');
    src: url('fonts/Raleway-Bold.ttf');
    src: url('fonts/Raleway-ExtraBold.ttf');
    src: url('fonts/Raleway-Medium.ttf');
    src: url('fonts/Raleway-Regular.ttf');
    src: url('fonts/Raleway-SemiBold.ttf');
    
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: 'Raleway', sans-serif;
}
.bloc-page
{
  max-width: 100%;
  width: 1440px;
  margin: auto;
}

.logo img
{  
    width: 100px;
	height: 50px;
}
.logo
{    
	position: relative;
	top: 50px;
}
.bouton-rechercher
{
	height: 29px;
	background-color: #0065FC;
	border: 1px solid;
	border-radius: 5px;
	font-size: 1.2em;
	padding: 3px 8px 0px 8px;
	color: white;
	text-decoration: none;
	margin-top: 1%;
	margin-left:-1%;
	
}	

.rechercher
{
	display: flex;
}
nav ul
{
	list-style-type:none;
	display: flex;
	justify-content: flex-start;
}
nav li
{
margin-right: 15px;
}

nav a
{
	font-size: 1.3em;
	padding-bottom: 3px;
	text-decoration: none;
	color:  #0065FC;
}

.nav
{
	display: flex;
	position: absolute;
    top: 50px;
    right: 550px;
}   

input
{
	height: 30px;
	width: 250px;
}
.filtres
{
	display: flex;
	justify-content: space-between;
}

.populaires-titre
{
	position: absolute;
	top: 500px;
	margin-left: 1140px;

}

.combinaison
{
	display: flex;
	margin: auto;
}

.Hébergements
{
	display: flex;
	background-color: #F2F2F2;
	overflow: hidden;
	flex-wrap: wrap;
	border-radius:10px; 
	justify-content: space-around;
	max-width: 1000px;
	
}

.Hébergements img
{
	border-radius: 10px;
	height: 150px;
	width: 250px;
}

figure
{
	background-color: white;
	border-radius: 10px;
}	
.populaires
{
background-color: #F2F2F2;
display: flex;
flex-direction: column;
margin-left: 5%;
}

.populaires img
{
 border-radius: 10px;
 height: 156px;
}
h1
{
	margin: auto;
	font-family: 'Raleway-ExtraBold';
}

figcaption
{
	text-align: center;
}

.Activités
{
	display: flex;
}

.Activités img
{
	border-radius: 10px;
}

.deux-en-un img
{
	display: flex;
	flex-direction: column;
	height: 200px;
	width: 300px;
}

.solo
{
	overflow: hidden;

}

footer
{
	display: flex;
	justify-content: space-around;
	background-color: #F2F2F2;
	border-radius: 10px;
}

@media screen (max-width: 768px)
{
.bloc-page
{
	display: flex;
	flex-direction: column;
}
}
 
